@addtaghelper "*, Microsoft.AspNet.Mvc.TagHelpers"
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Script</title>	
    <script src="~/blank.js" data-foo="foo-data">
		// Regular script with comment in body, and extra properties.
	</script>

	<script src="~/blank.js" asp-fallback-src="~/fallback.js" asp-fallback-test="blank.wooptido()" data-foo="foo-data">
		// TagHelper script with comment in body, and extra properties.
	</script>

	<script asp-fallback-src="~/fallback.js" asp-fallback-test="blank.wooptido()" data-foo="foo-data">
		// Invalid TagHelper script with comment in body, and extra properties.
	</script>

	<script src="~/blank.js" asp-fallback-src="~/fallback.js" >
		// Invalid TagHelper script with comment in body.
	</script>
</head>
<body>
    <h2>Script tag helper test</h2>
</body>
</html>